#generate-bar {
    z-index: 0;
}

#color-bar {
    z-index: -1;
}

#finish-bar {
    z-index: -2;
}

#library {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.mtgCard {
    padding: 10px;
}
